*{
    margin: 0;
    padding: 0;

}
body{
    background-color: whitesmoke;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progress-container{
    display: flex;
    width: 25%;
    justify-content: space-between;
    position: relative;
   
}
.circle{
    background-color: white;
    height: 30px;
    width: 30px;
    border: 3px solid lightgray;
    border-radius: 50%;
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.progress-container::before{
    content: ' ';
    height: 4px;
    width: 100%;
    background-color:lightgray;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: -1
}
.progress{
    height: 4px;
    width: 0%;
    background-color:slateblue;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: -1;
    transition: 0.4s ease;
    
}
.circle.active{
    border: 3px solid slateblue;
}
.btn-container{
    margin-top: 30px;
}
button{
    background-color: slateblue;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
button:active{
    transform: scale(0.97);
}
button:disabled{
    background-color: lightgray;
}
@media (max-width: 480px) {
    .container{
        width: 100vw;
    }
    .progress-container{
        width: 80vw;
    }
}